* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #2289ff;
  border-radius: 30px;
  border: 0;
  padding: 15px 20px;
}

.container {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
}
