.footer {
  position: relative;
  margin-top: 300px;
  top: 600px;
  width: 100%;
  background: var(--main);
  color: white;
  height: 300px;
  padding: 50px;
  border-radius: 60px 0 0 0;

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }

  .social_medias {
    display: flex;
    justify-content: center;

    span {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .footer_menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        margin-right: 20px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
  }
}
